* {
    margin: 0;
    padding: 0;
}

nav, body, footer {
    font-family: "Open Sans", Arial;
    font-size: 16px;
}

nav {
    display: flex;
    flex-direction: row;

    height: 3em;
    background-color: #1881BC;
    color: #FEFEFE;

    padding-left: 1em;
    padding-right: 1em;
}
nav > #nav-left,
nav > #nav-right {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    gap: 1em;
}
nav > #nav-right {
    margin-left: auto;
}
nav a {
    color: #f2f2f2;
    text-decoration: none;
}
nav a:hover, nav a:focus {
    text-decoration: underline;
}

main {
    margin: 2em auto 2em auto;
    width: 70vw;
    min-height: calc(100vh - 3em - 8em - 4em);
}

footer {
    height: 8em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #BC1881;
    color: #FEFEFE;

    text-align: center;
}

