* {
    margin: 0;
    padding: 0;
}

nav, body, footer {
  font-family: "Open Sans", Arial;
}

nav {
    display: flex;
    flex-direction: row;

    padding: 1em;
    background-color: #1881BC;
    color: #FEFEFE;

    margin-bottom: 1em;
}
nav > #nav-left,
nav > #nav-right {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    gap: 1em;
}
nav > #nav-right {
    margin-left: auto;
}
nav a {
  color: #f2f2f2;
  text-decoration: none;
}
nav a:hover, nav a:focus {
  text-decoration: underline;
}

footer {
    margin-top: 1em;

    padding: 2em;
    background-color: #BC1881;
    color: #FEFEFE;

    text-align: center;
}
